* {
    padding: 0;
    margin: 0;
}

.home {
    display: flex;
    max-width: 50%;
    margin: auto;
}

.product-form {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    padding: 10px;
    margin-top: 20px;
}